<!DOCTYPE HTML>
<html>
	<head>
		<title>Dai's Family</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='family/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='family/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">Hi, <br />
									this is Dai's Family.</h1>
									<p>We are excited to be part of this neighborhood and look forward to meet our neighbors soon!</p>
									<ul class="actions">
										<li><a href="#first" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="{{ url_for('static',filename='family/images/gallery/family/disney.JPG') }}" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">Li Dai</h2>
									<p>
										Li's the husband and father of the family.
										Works in the tech industry.
										Loves playing guitar, does boxing, and some other random hobbies.
									</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="{{ url_for('static',filename='family/images/gallery/family/cd_01.JPG') }}" alt="" />
								</div>
							</section>


						<!-- Panel (Spotlight) -->
							<section class="panel spotlight large left">
								<div class="content span-5">
									<h2 class="major">Cheng Dai</h2>
									<p>
										Cheng's the wife and mother of the family.
										You can also call her cc/cecilia.
										She's back at school part time and trying to start a new career while cooking delicious meals for us everyday.
									</p>
								</div>
								<div class="image filtered tinted" data-position="top right">
									<img src="{{ url_for('static',filename='family/images/gallery/family/cd_02.JPG') }}" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">Jin & Han</h2>
									<p>
										They are our two little boys growing happily and at an age full of energy.
										Thanks to their daddy, they love playing super mario now.

									</p>
								</div>
								<div class="gallery">
									<div class="group span-3">
										<a href="{{ url_for('static',filename='family/images/gallery/family/albert_01.jpg') }}" class="image filtered span-3" data-position="bottom"><img src="{{ url_for('static',filename='family/images/gallery/family/albert_01.jpg') }}" alt="" /></a>
										<a href="{{ url_for('static',filename='family/images/gallery/family/bruce_01.jpg') }}" class="image filtered span-1-5" data-position="center"><img src="{{ url_for('static',filename='family/images/gallery/family/bruce_01.jpg') }}" alt="" /></a>
										<a href="{{ url_for('static',filename='family/images/gallery/family/bruce_02.jpg') }}" class="image filtered span-1-5" data-position="bottom"><img src="{{ url_for('static',filename='family/images/gallery/family/bruce_02.jpg') }}" alt="" /></a>
									</div>
									<a href="{{ url_for('static',filename='family/images/gallery/family/kids_01.jpg') }}" class="image filtered span-2-5" data-position="right"><img src="{{ url_for('static',filename='family/images/gallery/family/kids_01.jpg') }}" alt="" /></a>
									<div class="group span-4-5">
										<a href="{{ url_for('static',filename='family/images/gallery/family/family_03.jpg') }}" class="image filtered span-3" data-position="top"><img src="{{ url_for('static',filename='family/images/gallery/family/family_03.jpg') }}" alt="" /></a>
										<a href="{{ url_for('static',filename='family/images/gallery/family/kids_02.jpg') }}" class="image filtered span-1-5" data-position="center"><img src="{{ url_for('static',filename='family/images/gallery/family/kids_02.jpg') }}" alt="" /></a>
										<a href="{{ url_for('static',filename='family/images/gallery/family/kids_03.JPG') }}" class="image filtered span-1-5" data-position="bottom"><img src="{{ url_for('static',filename='family/images/gallery/family/kids_03.JPG') }}" alt="" /></a>
										<a href="{{ url_for('static',filename='family/images/gallery/family/kids_04.jpg') }}" class="image filtered span-3" data-position="top"><img src="{{ url_for('static',filename='family/images/gallery/family/kids_04.jpg') }}" alt="" /></a>
									</div>
									<a href="{{ url_for('static',filename='family/images/gallery/family/kids_05.jpg') }}" class="image filtered span-2-5" data-position="right"><img src="{{ url_for('static',filename='family/images/gallery/family/kids_05.jpg') }}" alt="" /></a>
								</div>
							</section>


						<!-- Copyright -->
							<div class="copyright">&copy; Dai's Family</div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='family/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='family/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static',filename='family/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static',filename='family/js/main.js') }}"></script>

	</body>
</html>